@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/pine';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';
@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

@layer base {
    @font-face {
        font-family: 'MinecraftRegular';
        src: url(/fonts/MinecraftRegular-Bmg3.otf) format("opentype");
    }
}

[data-theme='pine'] body {
    background-image:
      radial-gradient(at 24% 25%, color-mix(in oklab, var(--color-primary-500) 10%, transparent) 0px, transparent 30%),
      radial-gradient(at 35% 13%, color-mix(in oklab, var(--color-success-500) 14%, transparent) 0px, transparent 30%),
      radial-gradient(at 100% 64%, color-mix(in oklab, var(--color-error-500) 3%, transparent) 0px, transparent 40%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

html * {
    @apply transition-colors duration-150;
}

[data-theme='pine'] {
    --heading-font-family: 'MinecraftRegular';
    --base-font-family: 'MinecraftRegular';
    --anchor-font-family: 'inherit';
}