@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/pine';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';
@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

@layer base {
    @font-face {
        font-family: 'MinecraftRegular';
        src: url(../fonts/MinecraftRegular-Bmg3.otf) format("opentype");
    }
}

html * {
    @apply transition-colors duration-150;
}

[data-theme='pine'] {
    --heading-font-family: 'MinecraftRegular';
    --base-font-family: 'MinecraftRegular';
    --anchor-font-family: 'inherit';
}